<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Defense360 - Highcharts Area Chart with Multiple Drilldowns Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include Project Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/ump5fmr.css">
</head>
<body>
  <select name="datasets" class="datasets"></select>
  <!-- Highcharts chart container -->
  <div id="hcContainer"></div>
  <!-- Include iFrame Resizer -->
  <!-- Include Defense360 Highcharts Theme -->
  <!-- <script src="https://csis-ilab.github.io/defense360-viz/globals/defense360-highcharts-theme.js"></script> -->
  <!-- Include Project Specific Javascript Files -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="./index.js"></script>

</body>
</html>
